name: Build Multi-Platform Packages

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build-linux:
    name: Build Linux ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    container:
      image: ghcr.io/krakjn/petrel:0.1.0
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        include:
          - arch: x86_64
            runner: ubuntu-22.04
            deb_arch: amd64
          - arch: aarch64
            runner: ubuntu-22.04-arm
            deb_arch: arm64
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Create Packages
        run: |
          just package
      
      - name: Upload DEB Package
        uses: actions/upload-artifact@v4
        with:
          name: petrel-linux-${{ matrix.deb_arch }}-deb
          path: build/*.deb
      
      - name: Upload TGZ Package
        uses: actions/upload-artifact@v4
        with:
          name: petrel-linux-${{ matrix.arch }}-tar
          path: build/*.tar.gz

  build-macos:
    name: Build macOS ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: x86_64
            runner: macos-15-intel
          - arch: arm64
            runner: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install System Dependencies
        run: brew install asio tinyxml2
      
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Fast-DDS
        id: cache-fastdds
        uses: actions/cache@v4
        with:
          path: /usr/local
          key: macos-${{ matrix.arch }}-fastdds-v2.3.4-v3.4.1-v0.7-4
      
      - name: Build Fast-DDS
        if: steps.cache-fastdds.outputs.cache-hit != 'true'
        run: |
          # Build Fast-CDR v2.3.4
          git clone -b v2.3.4 https://github.com/eProsima/Fast-CDR.git
          cd Fast-CDR
          mkdir build && cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local
          make -j$(sysctl -n hw.ncpu)
          sudo make install
          cd ../..
          rm -rf Fast-CDR
          
          # Build foonathan_memory v0.7-4
          git clone -b v0.7-4 https://github.com/foonathan/memory.git foonathan_memory
          cd foonathan_memory
          mkdir build && cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local -DFOONATHAN_MEMORY_BUILD_EXAMPLES=OFF -DFOONATHAN_MEMORY_BUILD_TESTS=OFF
          make -j$(sysctl -n hw.ncpu)
          sudo make install
          cd ../..
          rm -rf foonathan_memory
          
          # Build Fast-DDS v3.4.1
          git clone -b v3.4.1 --recursive https://github.com/eProsima/Fast-DDS.git
          cd Fast-DDS
          mkdir build && cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local
          make -j$(sysctl -n hw.ncpu)
          sudo make install
          cd ../..
          rm -rf Fast-DDS
      
      - name: Download fastddsgen
        run: |
          git clone -b v4.2.0 --recursive https://github.com/eProsima/Fast-DDS-Gen.git fastddsgen
          cd fastddsgen
          ./gradlew assemble
          cp -r share/fastddsgen /usr/local/share/
          cp scripts/fastddsgen /usr/local/bin/
          chmod +x /usr/local/bin/fastddsgen
          cd ..
          rm -rf fastddsgen
      
      - name: Build Petrel
        run: |
          mkdir -p gen
          fastddsgen -replace -d gen/ -flat-output-dir examples/HelloWorld.idl
          cmake -B build -S . -DCMAKE_INSTALL_PREFIX=/usr/local
          cmake --build build
      
      - name: Create Package
        run: |
          cd build
          cpack -G TGZ
      
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: petrel-darwin-${{ matrix.arch }}-tar
          path: build/*.tar.gz

  build-windows:
    name: Build Windows ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: x86_64
            runner: windows-latest
            cmake_arch: x64
          - arch: arm64
            runner: windows-11-arm
            cmake_arch: ARM64
  
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install System Dependencies
        run: |
          choco install -y cmake git wget openjdk11
      
      - name: Cache Fast-DDS
        id: cache-fastdds
        uses: actions/cache@v4
        with:
          path: C:\Program Files (x86)\fastdds
          key: windows-${{ matrix.arch }}-fastdds-v2.3.4-v3.4.1-v0.7-4
      
      - name: Build Fast-DDS
        if: steps.cache-fastdds.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          # Build Fast-CDR v2.3.4
          git clone -b v2.3.4 https://github.com/eProsima/Fast-CDR.git
          cmake -S Fast-CDR -B Fast-CDR/build -A ${{ matrix.cmake_arch }} -DCMAKE_INSTALL_PREFIX="C:\Program Files (x86)\fastdds"
          cmake --build Fast-CDR/build --config Release --target install
          Remove-Item -Recurse -Force Fast-CDR
          
          # Build foonathan_memory v0.7-4
          git clone -b v0.7-4 https://github.com/foonathan/memory.git foonathan_memory
          cmake -S foonathan_memory -B foonathan_memory/build -A ${{ matrix.cmake_arch }} -DCMAKE_INSTALL_PREFIX="C:\Program Files (x86)\fastdds" -DFOONATHAN_MEMORY_BUILD_EXAMPLES=OFF -DFOONATHAN_MEMORY_BUILD_TESTS=OFF
          cmake --build foonathan_memory/build --config Release --target install
          Remove-Item -Recurse -Force foonathan_memory
          
          # Build Fast-DDS v3.4.1
          git clone -b v3.4.1 --recursive https://github.com/eProsima/Fast-DDS.git
          cmake -S Fast-DDS -B Fast-DDS/build -A ${{ matrix.cmake_arch }} -DCMAKE_INSTALL_PREFIX="C:\Program Files (x86)\fastdds" -DCMAKE_PREFIX_PATH="C:\Program Files (x86)\fastdds"
          cmake --build Fast-DDS/build --config Release --target install
          Remove-Item -Recurse -Force Fast-DDS
      
      - name: Build fastddsgen
        shell: pwsh
        run: |
          git clone -b v4.2.0 --recursive https://github.com/eProsima/Fast-DDS-Gen.git fastddsgen
          cd fastddsgen
          .\gradlew.bat assemble
          New-Item -ItemType Directory -Force -Path "C:\Program Files (x86)\fastdds\share\fastddsgen"
          Copy-Item -Recurse share\fastddsgen\* "C:\Program Files (x86)\fastdds\share\fastddsgen\"
          Copy-Item scripts\fastddsgen.bat "C:\Program Files (x86)\fastdds\bin\"
          cd ..
          Remove-Item -Recurse -Force fastddsgen
      
      - name: Build Petrel
        shell: pwsh
        run: |
          $env:CMAKE_PREFIX_PATH = "C:\Program Files (x86)\fastdds"
          $env:PATH = "C:\Program Files (x86)\fastdds\bin;$env:PATH"
          cmake -B build -A ${{ matrix.cmake_arch }} -DCMAKE_INSTALL_PREFIX="C:\Program Files\petrel" -DCMAKE_PREFIX_PATH="C:\Program Files (x86)\fastdds"
          cmake --build build --config Release
      
      - name: Create Package
        shell: pwsh
        run: |
          cd build
          cpack -G ZIP -C Release
      
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: petrel-windows-${{ matrix.arch }}-zip
          path: build/*.zip

  release:
    name: Create Release
    needs: [build-linux, build-macos, build-windows]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/**/*
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

